# ----------------------------
# MongoDB Configuration
# ----------------------------

# Full MongoDB connection string
# Example:
# mongodb://username:password@localhost:27017
# mongodb+srv://username:password@cluster.mongodb.net
MONGO_URI=

# Mongo database name
MONGO_DB=


# ----------------------------
# SQL Server Configuration
# ----------------------------

# SQL Server hostname
# Examples:
# localhost
# SHINYNOSE
# localhost\SQLEXPRESS
SQL_SERVER=

# SQL Server port (default is 1433)
SQL_PORT=1433

# SQL database name
SQL_DATABASE=

# SQL login credentials
SQL_USER=
SQL_PASSWORD=


# ----------------------------
# Optional ETL Settings
# ----------------------------

# Number of records processed per ETL batch
ETL_BATCH_SIZE=1000